<DOCTYPE html>
<html lang="en-us">

<head>
	@MACRO=heading
</head>

<body>
	@MACRO=nav
	
	{{#unless user}}
		<div>
			<img id="homeLogo" src="images/justo-logo.png">
		</div>
	{{/unless}}
	
	<div class="container">
		<hr />
		
		{{#unless user}}
			<div>
				<h3>
					Sorry, but is would seem that you are not logged in. Please log in and attempt again.
				</h3>
				<hr />
				<p>
					Best wishes - The Justo team
				</p>
			</div>
		{{/unless}}
		
		<ul class="list-group" style="text-align: left;">
			{{#each postings}}
				<li class="list-group-item">
					<span class="float-left">
						<h3><a href="/posting?posting_id={{this.id}}">{{this.posting_title}}</a></h3>
						<h5>Type: {{this.posting_type}}</h5>
						<p>Due by: {{this.posting_completion_deadline}}</p>
					</span>
				</li>
			{{/each}}
		</ul>
		
		<hr />
		{{#if user}}
			{{#if goBackAPageUrl}}
				<span class="float-left">
					<button><a href="{{goBackAPageUrl}}"><h4>Back</h4></a></button>
				</span>
			{{/if}}
			{{#if goForwardAPageUrl}}
				<span class="float-right">
					<button><a href="{{goForwardAPageUrl}}"><h4>Next</h4></a></button>
				</span>
			{{/if}}
		{{/if}}
		
	</div>
	
	@MACRO=footer
	
	@MACRO=utilScripts
	
</body>

</html>