<DOCTYPE html>
<html lang="en-us">

<head>
	@MACRO=heading
</head>

<body>
	@MACRO=nav
	
	<div>
		<img id="homeLogo" src="images/justo-logo.png">
	</div>
	
	<div class="container">
		
		{{#if user}}
			{{#each postings}}
				<div class="row">
					<div class="col-sm-12">
						<h4><a href="/posting?{{posting_id=this.id}}">{{this.posting_title}}</a></h4>
						<h6>{{this.posting_type}}</h6>
					</div>
					<div class="col-sm-12">
						<small>{{posting_owner}}</small>
					</div>
				</div>
			{{/each}}
		{{else}}
			<div>
				<h3>
					Sorry, but is would seem that you are not logged in. Please log in and attempt again.
				</h3>
				<hr />
				<p>
					Best wishes - The Justo team
				</p>
			</div>
		{{/if}}
		
	</div>
	
	@MACRO=footer
	
	@MACRO=utilScripts
	
</body>

</html>