<DOCTYPE html>
<html lang="en-us">

<head>
	@MACRO=heading
</head>

<body>
	@MACRO=nav
	
	<br />
	
	<div class="container">
		
		{{#if user}}
			{{#if user.image}}
				<img id="homeLogo" src="{{{user.image}}}" class="rounded" alt="ProfilePicture"/>
			{{else}}
				<img src="images/blank-profile-picture.png" class="rounded" width="200px" alt="ProfilePicture"/>
			{{/if}}
			<br />
			<h2>{{{user.first_name}}} {{{user.last_name}}}</h2>
			<h5>{{{user.email}}}</h5>
			<hr />
			{{#if postings}}
				<h4>Your Job Postings: </h4>
				<br />
				<ul class="list-group">
					{{#each postings}}
						<li class="list-group-item" style="text-align: left;">
							<span class="float-left">
								<h3><a href="/posting?posting_id={{this.id}}">{{this.posting_title}}</a></h3>
								<h5>Type: {{this.posting_type}}</h5>
								<p>Due by: {{this.posting_completion_deadline}}</p>
							</span>
						</li>
					{{/each}}
				</ul>
			{{else}}
				<h4>Your Job Postings: </h4>
				<p>Unfortunately, you havent posted any jobs yet :(</p>
			{{/if}}
			{{#if jobs}}
				<h5 class="float-left">Jobs you have accepted: </h5>
				{{#each jobs}}
					
				{{/each}}
			{{else}}
				<h5>Jobs you have accepted: </h5>
				<p>Unfortunately, you havent accepted any jobs yet :(</p>
			{{/if}}
		{{else}}
			<img id="homeLogo" src="images/justo-logo.png">
			<div>
				<h3>
					Sorry, but is would seem that you are currently not logged in. Please log in and attempt again.
				</h3>
				<hr />
				<p>
					Best wishes - The Justo team
				</p>
			</div>
		{{/if}}
		
	</div>
	
	@MACRO=footer
	
	@MACRO=utilScripts
	
</body>

</html>